*.swp
*~
.DS_Store
GetAJob/bin/GetAJob_app.dll
GetAJob_app/bin/GetAJob_app.pd
GetAJob_app/*.bak
GetAJob_app/obj
GetAJob_app/obj/*
*.obj
*.exe
*.exp
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.cache
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/

