body {
  font-family: helvetica,arial,free-sans,clean,sans-serif;
  font-size: 13.4px;
}

#heading {
  color: #fff;
  width: 100%;
  height: 50px;
  padding: 15px 0px;
  background-color: #333;	
}

#heading #top_menu {
  display: inline;
  float: right;
  margin-right: 35px;
  margin-top: 20px;
}

#heading a {
  color: #fff;
  text-decoration: none;
  border: 0px solid;
}

#heading #top_menu a {
  color: #fff;
  background-color: #000;
  text-decoration: none;
  margin-right: 5px;
  padding: 5px 10px;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#heading #top_menu a:hover {
  background-color: #eee;
  color: #000;
  border: 1px solid #000;
  text-shadow: 1.5px 1px #fff;
}

#heading h1 {
  font-family: 'Lobster';
  font-size: 45px;
  margin-left: 25px;
  position: absolute;
  text-shadow: 2px 2px #666;
}

#heading h1 small {
  font-size: 18px;
  font-weight: lighter;
}

#page_info {
  background-color: #6D84B4;
  min-height: 45px;
  position: relative;
}

#page_info #main_menu {
  width: 100%;
  margin:  15px auto 0 auto;
  position: absolute;
}

#main_menu #menu_items {
  width: 980px;
  margin: 0 auto;
}

#main_menu #menu_items a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
  font-family: 'Lobster';
  font-size: 17px;
  text-shadow: 2px 2px #666;
}

#main_menu #menu_items a:hover {
  background-color: #3B5998;
  text-shadow: #0E385F;
  border: 1px solid #0E385F;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#content_wrapper {
  width: 980px;
  margin: 5px auto;
  padding: 25px;
  border: 1px solid #666;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #fff;
}

#content_wrapper fieldset {
  padding: 25px;
}

#content_wrapper label {
  font-weight: bold;
  display: block;
  color: #333;
}

#content_wrapper input[type=text], #content_wrapper input[type=password], #content_wrapper input[type=email] {
  border: 1px solid #999;
  padding: 5px;
  margin: 5px 0;
  width: 360px;
  display: block;
  margin: 15px 0px 15px;
}

input[type=submit] {
  font-family: 'Lobster';
  font-size: 16px;
  border: 1px solid #999;
  color: #333;
  background-color: #eee;
  padding: 4px 10px;
  margin-top: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  cursor: pointer;
}

.blue_button {
  background-color: #3B5998;
  text-shadow: #0E385F;
  border: 1px solid #0E385F;
  color: #fff;
}

.green_button {
  background-color: #69A74E;
  border: 1px solid #3B6E22;
  text-shadow: #2C5115;
  color: #fff;
}

a.link_button {
  font-family: 'Lobster';
  font-size: 16px;
  text-decoration: none;
  padding: 5px 10px;
  margin-top: 15px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.wym_box {
	margin-bottom: 15px;
}

.clear {
  clear: both;
}

#content_wrapper h1 {
  font-family: "Droid Serif";
  font-weight: bold;
  font-size: 30px;
  text-shadow: -2px 2px #ccc;
  padding: 5px 0px;
  margin-bottom: 15px;
}

#content_wrapper p {
  margin-bottom: 15px;
}

.validation-summary-errors {
  border: 2px solid #B00;
  padding: 5px 10px;
  color: #A00;
  -moz-border-radius: 5px;
  margin-bottom: 15px;
  background-color: #FFAAAA;
}

.validation-summary-errors span {
  font-size: 14px;
  font-weight: bold;
}

.validation-summary-errors ul li{
  font-size: 11px;
  padding: 3px;
  list-style: circle outside none;
  margin-left: 15px;
}

.input-validation-error {
  color: #A00 !important;
  border: 1px solid #A00 !important;
  background-color: #FFAAAA !important;
}